.container {
  width: 300px;
  background-color: rgb(70, 70, 230);
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.modal--header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  z-index: 1000;
  color: white;
  margin-bottom: 20px;
}

.modal--content {
  text-align: center;
  color: lightgray;
}

button {
  padding: 8px 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
